<div class="ui modal">
  <div class="header">
    Multimedia Compression Application
  </div>
  <div class="image content">
    <div class="ui large image">
      <img src="pic/panorama.png">
    </div>
    <div class="description">
      <h3>Introduction:</h3>
      <p>
        Multimedia Compression Applicaton used for compression and decompress any data. In this application, we only test for text, image with 3 basic algorithms RunLength Coding, Shannon Fano and JPEG Lossless.
        <br>
        <br>
        The application was built on Web Application. With Front end are HTML, CSS, Semantic UI, jQuery, Angular, Pannellum ... and Back end are Node.js, Python. After receiving the request from Client, Node.js will connect to Python to process the files. After that, It will response the result to Client.
      </p>

      <h3>About us:</h3>
      <p>        
        Trieu Trang Vinh <br>
        Truong Phuc Anh <br>
        Lam Han Vuong
      </p>
    </div>
  </div>

</div>
